html,body, #window{
    margin:0;
    padding:0;
    height:100%;
}

#results{

	height: calc(100% - 178px);
	width: 70%;
	border-right: solid #383838;
	border-top: solid #383838;
	border-bottom: solid #383838;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

#message{
  font-size: 40px;
  letter-spacing: 2.5px;
  display:inline-block;
  line-height: 40px;
  font-weight: bold;
  height: 40px;
  margin-left: 20px;
  color: #D4D4D4;
  display: table;
  margin: 0 auto;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.ui.sidebar h3{
color: white;
}

.ui.sidebar p{
color: white;
}

#categoriesTable{
 display: block;
  height: 100px;
  overflow-y: auto;
 border-collapse: separate;
  border-spacing: 10px 0;
}

#placesTable{
 display: block;
  height: 200px;
  overflow-y: auto;
 border-collapse: separate;
  border-spacing: 10px 0;
}

#settingsPanel{
  margin-left: 10px;
}

.color{

}

.category input[type=text]{
  outline: 0;
width: 150px;
border: 0;
background-color: transparent;
color: white;
}

.place input[type=text]{
  outline: 0;
width: 150px;
border: 0;
background-color: transparent;
color: white;
}

#totalResults{
  font-size: small;
  color: #494949;
  background: white;
      position:absolute;
      right: 5px;
      margin-top: 2px;
    z-index:10;
}

.remove-category-btn{
  margin-left: -5px;
  width:16px;
  height:16px;
background: url('../img/timeline/remove.png') no-repeat top center;
cursor: pointer;
}

.remove-place-btn{
  margin-left: -10px;
    width:16px;
  height:16px;
  background: url('../img/timeline/remove.png') no-repeat top center;
  cursor: pointer;
}